body {
  font-family: RNS Sanz, sans-serif;
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Black';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-Black.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'ExtraBold';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Light';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-Light.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-Medium.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Normal';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-Normal.woff2) format("woff2");
}

@font-face {
  font-family: 'RNS Sanz';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'SemiBold';
  src: url(/fonts/RNS_Sanz-WOOF2/RNSSanz-SemiBold.woff2) format("woff2");
}
